<h3 align="center">New Group</h3>
<div class="user_form">
  <% form_for @group do |f| %>
    <%= f.error_messages %>
    <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description, :id => 'description' %>
    </p>
    <div id ="submit_button">
      <p>
      <%= f.submit "Create" %>
      </p>
    </div>
  <% end %>
</div>