<%= error_messages_for :groups %>

<% form_for @group do |f| %>
  <p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :description %><br/>
  <%= f.text_area :description %>
  </p>
  <p>
  <%= f.submit "Create" %>
  </p>
<% end %>
