<h2><%= @role.name %></h2>
<h3>Users:</h3>
<h4>Assigned Users - <%= @role.users.count %></h4>
<ul>
  <% @role.users.each do |user| %>
    <li><%= user.username %> - <%= link_to "remove", user_revoke_path(@scope,@instance_id,@role_sym,user.id), :confirm => 'Are you sure?', :method => :post %>
  <% end %>
</ul>
<h4>Unassigned Users - <%= @rest_users.count %></h4>
<ul>
  <% @rest_users.each do |user| %>
    <li><%= user.username %> - <%= link_to "add", user_assign_path(@scope,@instance_id,@role_sym,user.id), :confirm => 'Are you sure?', :method => :post %>
  <% end %>
</ul>
<h3>Groups:</h3>
<h4>Assigned Groups - <%= @role.groups.count %></h4>
<ul>
  <% @role.groups.each do |group| %>
    <li><%= group.name %> - <%= link_to "remove", group_revoke_path(@scope,@instance_id,@role_sym,group.id), :confirm => 'Are you sure?', :method => :post %>
  <% end %>
</ul>
<h4>Unassigned Groups - <%= @rest_groups.count %></h4>
<ul>
  <% @rest_groups.each do |group| %>
    <li><%= group.name %> - <%= link_to "add", group_assign_path(@scope,@instance_id,@role_sym,group.id), :confirm => 'Are you sure?', :method => :post %>
  <% end %>
</ul>
