<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Star Intranet</title>
    <%= javascript_include_tag "jquery-1.3.2.min.js" %>
    <%= javascript_include_tag "jquery-ui-1.7.2.custom.min.js" %>
    <%= javascript_include_tag "chroma-hash.js" %>
    <%= stylesheet_link_tag 'screen', :media=> 'screen, projection' %>
    <script src="" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      //<![CDATA[
      $(document).ready(function() {
      $("input:password").chromaHash({number: 3});
      $("#email").focus();
    });
     //]]>
    </script>
</head>

<body>
  <div id="header">
      <div class="left">
        <a href="/document_share"><img src="/images/starhealth.gif" alt="Star Health"/></a>
      </div>
      <div class="middle">
        <h2 style="text-align:center">
          Employee Intranet
        </h2>
      </div>
        <div id="main" class="ui-layout-center">
          <div class="container">
            <%if flash[:notice]%>
              <font color ="blue">
                <p>
                  <b><%= flash[:notice] %></b>
                </p>
              </font>
            <% end %>
            <div class="user_form">
              <%= error_messages_for :user_session %>
              <% form_for @user_session do |f| %>
                <p>
                  <%= f.label :username %><br />
                  <%= f.text_field :username, :id => 'username' %>
                </p>
                <p>
                  <%= f.label :password %><br />
                  <%= f.password_field :password, :id => "password" %>
                  </p>
                <%= f.hidden_field :redirect_path %><br />
                <div id ="submit_button">
                <p><%= f.submit "Submit", :id => "submit" %></p>
                </div>
                <p style="padding-left:85px">
                  <%= link_to "Forgot Password", forgot_password_path %>
                </p>
              <% end %>
            </div>
          </div>
      `</div>
      <div class="ui-layout-south" id="footer">
        <p align="center">
          Content &copy; Star Health &amp; Allied Insurance Co. Ltd.<br/>
          Powered by <%= link_to "Artha42 Technology Solutions Pvt. Ltd.", "http://www.artha42.com" %>
        </p>
      </div>
    </div>
</body>
</html>
