<html>
  <head>
    <title>Intranet - Administrative Modules</title>
    <%= stylesheet_link_tag 'screen', :media=> 'screen, projection' %>
  </head>
  <body>
    <div id="header">
      <div class="left">
        <a href="/document_share"><img src="/images/starhealth.gif" alt="Star Health"/></a>
      </div>
      <div class="middle">
        <h2>Star Health - Employee Intranet</h2>
      </div>
      <span class="user_info">
        <%= current_user.username %> |
        <%= link_to "logout", logout_path %>
      </span>
      <div id="main" class="ui-layout-center">
        <div id="nav">
          <h2 id="admin-heading">Intranet - Administration</h2>
        </div>
        <div id="content">
          <%= @content_for_layout %>
        </div>
      </div>
      <div class="ui-layout-south" id="footer">
        <p align="center">
        Content &copy; Star Health &amp; Allied Insurance Co. Ltd.<br/>
          Powered by <%= link_to "Artha42 Technology Solutions Pvt. Ltd.", "http://www.artha42.com" %>
        </p>
      </div>
    </div>
  </body>
</html>
